.table {
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  color: rgb(85, 77, 77);
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
}

.table tr:nth-of-type(odd) {
  background-color: rgb(202, 198, 191);
}
